.mywork-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 20px;
    column-gap: 20px;
    box-shadow: -3px -3px 7px #ffffffb2,  
        3px 3px 5px rgba(94, 104, 121, 0.945);

}

.mywork-img{
    box-shadow: -3px -3px 7px #ffffffb2,  
     inset   3px 3px 5px rgba(94, 104, 121, 0.945);
     
}

.mywork-img:hover{
    transform: scale(1.05);
    transition: all 0.6s ease-in-out;

}

.mywork-title h1{
    font-size: 55px;
    font-weight: 700;
    padding-left: 4px;
}

/* .mywork-container img{ */
    /* max-height: 200px; */
    /* max-width: 300px; */
/* } */

@media screen and (max-width:768px) {

    .mywork-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
        row-gap: 15px;
        column-gap: 15px;
    }
    

    
}
