.about .progress-bar-html{
    width: 95%;
    color: black;
    font-size: clamp(0.8rem, 2.5vw, 1.0rem);
    font-weight: 500;
    background-image: linear-gradient(to left , hotpink,orange ,pink,yellow,red);
}

.span{
    color: hotpink;
    position: relative;
    
}
.span::before {
    content: '';
    background-color: hotpink;
    height: 2px;
    width: 100%;  /* Define width */
    position: absolute;
    top: 0;  /* Position inside .span */
    left: 0;
    z-index: 2;
    transition: background-color 0.5s ease-in-out;
    display: block;  /* Ensures visibility */
}


.about .progress-bar-js{
    width: 90%;
    color: black;
    font-size:clamp(0.8rem, 2.5vw, 1.0rem);
    font-weight: 500;
    background-image: linear-gradient(to left , hotpink,orange ,pink,yellow,red);
}
.about .progress-bar-react{
    width: 85%;
    color: black;
    font-size: clamp(0.8rem, 2.5vw, 1.0rem);
    font-weight: 500;
    background-image: linear-gradient(to left , hotpink,orange ,pink,yellow,red);
}
.about .progress-bar-next{
    width: 80%;
    color: black;
    font-size:clamp(0.8rem, 2.5vw, 1.0rem);
    font-weight: 500;
    background-image: linear-gradient(to left , hotpink,orange ,pink,yellow,red);
   }

.about .progress{
height: 13px;
}

.about h6{
     display:grid;
     gap: 10px;
}

.about-skills{
    font-size: clamp(0.8rem, 2vw, 0.9rem);
    font-weight: 400;
}

.about h1{
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: 600;
}

.about img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.5));
}

.about-second p{
    font-size:clamp(0.7rem, 2.5vw, 0.9rem);
    font-weight: 400;

}
.about-second {
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: -1px -1px 3px #ffffffb2,  
    1px 1px 3px rgba(94, 104, 121, 0.945);

}

.about-second h6{
font-size: clamp(0.7rem, 2vw, 0.9rem);
font-weight: 600;
background-clip: text;
color: transparent;
background-image: linear-gradient(to right,orange,red , yellow , pink);
}

.about p{
    font-size:clamp(0.7rem, 2.0vw, 0.9rem);
    font-weight: 400;

}

@media screen and (max-width: 1192px) {
    .about img{
    margin-top: 15px;
    margin-bottom: 40px;
           }
    
  }