.navbar-nav a {
  font-size: clamp(0.7rem, 2.5vw, 0.9rem);
  font-weight: 500;
  color: var(--text-color) !important;
}

.navbar-nav .nav-link:hover {
  color: red !important;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);

  transform: scale(1.02);

  filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.5));
  transition: all 0.3s ease-in-out;
  transform: scale(1.02);
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: red !important;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  transform: scale(1.02);
  filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.5));
}

.navbar-brand {
  /* color: white !important; */
  font-size: clamp(0.7rem, 2.5vw, 0.9rem);
}

.navbar-bootstrap {
  background-color:var(--main-bg-color) ;
  /* position: sticky; */
  /* height: 50px; */
  /* top: 0; */
  z-index: 1000;
  transition: all ease-in-out 0.7s;
  /* box-shadow: 1px 1px 6px rgb(58, 57, 57); */
}

.navbar-brand .logo {
  width: 44px !important;
  height: 36px !important;
}

.toggler-icon {
  /* color: white !important; */
  font-size: 30px;
  font-weight: 600;
  border: transparent;
}

.navbar {
  z-index: 999;
}

.btn {
  outline: none;
  border: 1px dotted white;

  font-weight: 400;
}

/* From Uiverse.io by Madflows */
.toggle-switch {
  position: relative;
  margin-top: 8px;
  margin-right: 30px;
  width: 70px;
  /* height: 20px; */
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 36px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn {
  /* border: none; */
  background-image: linear-gradient(to left, hotpink, orange) !important;
}
.btn-close {
  color: white !important;
  font-size: 30px;
  font-weight: 600;
  border: 1px solid black !important;
}

.btn-close:hover {
  border: none;
  outline: none;
  border: 1px solid black !important;
}
