
:root {
    --footer-bg-color: rgb(231, 235, 237);
}

#Footer, .footer {
    background-color: var(--footer-bg-color) !important;
}

.footer p{
    font-size: clamp(0.7rem , 2.1vw , 0.8rem);
    line-height: 18px;
    padding-top: 10px;
    margin-right: 10px;
    color: grey;
}

.footer img{
    height: 30px;
    width: 30px;
    margin-right: 15px;
    object-fit: cover;
}

.footer-first{
    border-bottom: 2px solid rgb(149, 147, 147);
}

.input-group-text{
    font-size: 13px;
    font-weight: 600;
    color:black;
    cursor: pointer;
    background-color: aqua;
}

.input-group input{
    font-weight: 600;
    height: 35px;
    color: black;
}

.input-group{
    margin-top: 35px !important;
}

.footer-second li{
    list-style: none;
    color: grey;
    font-size: clamp(0.7rem , 2.1vw , 0.8rem);
    line-height: 18px;
    cursor: pointer;
    padding-top: 10px;
}

.footer-second ul{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}