:root {
  --main-bg-color: black !important;
  --text-color: white !important;
}
.light-theme {
  --main-bg-color: white !important;
  --text-color: black !important;
}
.dark-theme {
  --main-bg-color: black !important;
  --text-color: white !important;
}